{# templates/bienvenida.html.twig #}
{# @author Carlos Vico #}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Bienvenida</title>
</head>
<body>
    {# Ejercicio 6: mensaje fijo #}
    <h1>Bienvenido a la aplicación Symfony</h1>

    {# Ejercicio 7: variable dinámica del controlador #}
    <p>Hola {{ nombre }}</p>
</body>
</html>